@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: lightgray;
}

.card {
  background-color: gray;
  margin-bottom: 20px;
  width: 250px;
  height: 375px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
}

.audioButton {
  background-color: wheat;
  width: 100px;
  border-radius: 30px;
  margin: 12px 0px;
}

.abilityButton {
  background-color: wheat;
  width: 90px;
  margin-bottom: 10px;
  border-radius: 30px;
  text-align: center;
}

.leftArrow {
  display: none;
}

.search {
  display: flex;
  justify-content: center;
}

.searchBar {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.filter {
  padding-left: 10px;
}

.type {
  @apply flex flex-row justify-center mx-2;
}

@media (min-width: 640px) {
  .detail {
    @apply flex justify-center;
  }
}

@media (min-width: 768px) {
  .list {
    @apply flex flex-wrap flex-row justify-center gap-x-[20px];
  }

  .image {
    @apply ml-10;
  }

  .evolution {
    @apply flex flex-wrap flex-row justify-center;
  }

  .evolutionList {
    @apply mx-8;
  }

  .arrow {
    @apply flex flex-wrap flex-row justify-center items-center;
  }

  .downArrow {
    display: none;
  }

  .leftArrow {
    display: block;
  }
}

@media (min-width: 1280px) {
  .list {
    @apply mx-[300px];
  }

  .image {
    @apply ml-20;
  }

  .evolutionList {
    @apply mx-14;
  }
}
