@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
  /* @apply flex flex-wrap justify-center gap-y-[50px] gap-x-[20px] md:mx-52 lg:mx-96; */
  /* @apply md:grid grid-cols-2 lg:grid-cols-5; */
  /* padding-left: 15px;
  padding-right: 15px; */
  /* @apply md:flex flex-wrap flex-row justify-center gap-x-[20px] mx-[300px]; */
}
@media (min-width: 768px) {
  .list {
    @apply flex flex-wrap flex-row justify-center gap-x-[20px];
  }
}

@media (min-width: 1280px) {
  .list {
    @apply mx-[300px];
  }
}

/* .cardBox {
  @apply md:flex flex-wrap flex-row;
} */

.card {
  background-color: gray;
  margin-bottom: 20px;
  max-width: 250px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
}

.type {
  @apply flex flex-row justify-between mx-2;
}

/* body {
  background-image: linear-gradient(to bottom right, red, yellow);
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
